SistemasDeBigData/UT5-Node Red/Ejercicio5-CarSensor/CarSensor/docker/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "demo",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b389a6571cea456e",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/car",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "2a3be4e9f7c5c398"
            ]
        ]
    },
    {
        "id": "e73f17bbb55fd2f5",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 220,
        "wires": []
    },
    {
        "id": "2a3be4e9f7c5c398",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<title>Vehicle Registration</title>\n\n<style>\n    body {\n        font-family: Arial, sans-serif;\n        background: #e9e9e9;\n        margin: 0;\n        padding: 20px;\n    }\n\n    #road-container {\n        width: 100%;\n        overflow-x: scroll;\n        border: 3px solid #222;\n        border-radius: 10px;\n    }\n\n    #road {\n        width: 3000px;\n        height: 250px;\n        background: #444;\n        position: relative;\n        border-radius: 10px;\n    }\n\n    .vehicle {\n        width: 60px;\n        height: 35px;\n        position: absolute;\n        left: 20px;\n        border-radius: 5px;\n        color: white;\n        text-align: center;\n        line-height: 35px;\n        font-weight: bold;\n    }\n\n    .sensor {\n        width: 10px;\n        height: 250px;\n        background: yellow;\n        position: absolute;\n        opacity: 0.6;\n        top: 0;\n    }\n\n    #controls {\n        margin-top: 20px;\n        display: flex;\n        flex-wrap: wrap;\n        gap: 20px;\n        justify-content: center;\n    }\n\n    .panel {\n        background: white;\n        padding: 15px;\n        border-radius: 10px;\n        width: 250px;\n        box-shadow: 0 2px 5px rgba(0,0,0,0.2);\n    }\n\n    button {\n        padding: 8px 12px;\n        cursor: pointer;\n        margin: 5px 0;\n    }\n\n    input {\n        width: 90%;\n        padding: 5px;\n        margin-top: 5px;\n    }\n</style>\n</head>\n<body>\n\n<h2>Vehicle registration</h2>\n\n<br>\n\n<button onclick=\"createVehicle()\" style=\"padding:10px 20px; font-size:16px;\">\n    ➕ Create Vehicle\n</button>\n\n<div id=\"road-container\">\n    <div id=\"road\"></div>\n</div>\n\n<h3>Vehicle Controls</h3>\n<div id=\"controls\"></div>\n\n<script>\n\n// ======================================================\n//  SENSOR CONFIGURATION\n// ======================================================\n\nconst sensorPositions = [100, 300, 600, 900, 1200, 1600, 2000, 2400, 2800];\nconst road = document.getElementById(\"road\");\n\nsensorPositions.forEach((x, i) => {\n    const s = document.createElement(\"div\");\n    s.className = \"sensor\";\n    s.style.left = x + \"px\";\n    s.id = \"sensor\" + (i+1);\n    road.appendChild(s);\n});\n\nconst sensors = sensorPositions.map((x, index) => ({\n    id: \"sensor\" + (index + 1),\n    x: x,\n    triggered: {}\n}));\n\n// ======================================================\n//  DYNAMIC VEHICLE MANAGEMENT\n// ======================================================\n\nlet vehicleCount = 0;\nconst vehicles = {};   // state of each vehicle\n\nfunction createVehicle() {\n    vehicleCount++;\n\n    const id = \"car\" + vehicleCount;\n    const color = getRandomColor();\n\n    // ===============================\n    // Create visual vehicle on road\n    // ===============================\n    const v = document.createElement(\"div\");\n    v.className = \"vehicle\";\n    v.id = id;\n    v.style.background = color;\n    v.style.top = (50 + 50 * vehicleCount) + \"px\";\n    v.innerText = id.toUpperCase();\n    road.appendChild(v);\n\n    // ===============================\n    // Internal vehicle state\n    // ===============================\n    vehicles[id] = {\n        interval: null,\n        speed: Math.floor(Math.random() * 3) + 2, // speed between 2 and 4\n        label: id\n    };\n\n    // ===============================\n    // Create dynamic control panel\n    // ===============================\n    const panel = document.createElement(\"div\");\n    panel.className = \"panel\";\n    panel.id = \"panel-\" + id;\n    panel.innerHTML = `\n        <h3>${id.toUpperCase()}</h3>\n        <input id=\"tag-${id}\" placeholder=\"Label...\" oninput=\"updateLabel('${id}', 'tag-${id}')\">\n        <br><br>\n        <button onclick=\"start('${id}')\">▶ Start</button>\n        <button onclick=\"pause('${id}')\">⏸ Pause</button>\n        <button onclick=\"resetCar('${id}')\">🔄 Reset</button>\n    `;\n    document.getElementById(\"controls\").appendChild(panel);\n}\n\n// ======================================================\n// LABEL FUNCTIONS\n// ======================================================\n\nfunction updateLabel(vehicleId, inputId) {\n    const text = document.getElementById(inputId).value;\n    const vehicle = document.getElementById(vehicleId);\n    vehicle.innerText = text || vehicleId.toUpperCase();\n}\n\n// ======================================================\n// AUTOMATIC INDIVIDUAL MOVEMENT\n// ======================================================\n\nfunction start(vehicleId) {\n    if (!vehicles[vehicleId].interval) {\n        vehicles[vehicleId].interval = setInterval(() => moveVehicle(vehicleId), 30);\n    }\n}\n\nfunction pause(vehicleId) {\n    clearInterval(vehicles[vehicleId].interval);\n    vehicles[vehicleId].interval = null;\n}\n\nfunction resetCar(vehicleId) {\n    pause(vehicleId);\n    document.getElementById(vehicleId).style.left = \"20px\";\n    sensors.forEach(s => s.triggered[vehicleId] = false);\n}\n\n// ======================================================\n// MOVEMENT + SENSOR DETECTION\n// ======================================================\n\nfunction moveVehicle(vehicleId) {\n    const vehicle = document.getElementById(vehicleId);\n    let x = parseInt(vehicle.style.left);\n\n    if (isNaN(x)) x = 20;\n\n    x += vehicles[vehicleId].speed;\n    vehicle.style.left = x + \"px\";\n\n    detectSensors(vehicleId, x);\n}\n\nfunction detectSensors(vehicleId, x) {\n    sensors.forEach(sensor => {\n\n        if (x >= sensor.x - 5 && x <= sensor.x + 5) {\n\n            if (!sensor.triggered[vehicleId]) {\n                sensor.triggered[vehicleId] = true;\n                onSensorTrigger(vehicleId, sensor.id);\n            }\n        }\n\n        if (x > sensor.x + 20 || x < sensor.x - 20) {\n            sensor.triggered[vehicleId] = false;\n        }\n\n    });\n}\n\n// ======================================================\n//  REST EVENT\n// ======================================================\n\nfunction onSensorTrigger(vehicleId, sensorId) {\n    console.log(`Vehicle ${vehicleId} crossed ${sensorId}`);\n\n    fetch(\"http://localhost:1880/event\", {\n        method: \"POST\",\n        headers: {\"Content-Type\": \"application/json\"},\n        body: JSON.stringify({\n            vehicle: vehicleId,\n            sensor: sensorId,\n            timestamp: Date.now()\n        })\n    });\n\n   // alert(`Vehicle ${vehicleId} crossed ${sensorId}`);\n}\n\n// ======================================================\n// UTILITIES\n// ======================================================\n\nfunction getRandomColor() {\n    return `hsl(${Math.random()*360}, 70%, 50%)`;\n}\n\n</script>\n</body>\n</html>\n",
        "output": "str",
        "x": 640,
        "y": 220,
        "wires": [
            [
                "e73f17bbb55fd2f5"
            ]
        ]
    },
    {
        "id": "67fe0ed7777021cb",
        "type": "http in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "url": "/event",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 450,
        "y": 300,
        "wires": [
            [
                "e5491d8e52685601",
                "9f1172d2174c8393",
                "413e59e0323254f7"
            ]
        ]
    },
    {
        "id": "9f1172d2174c8393",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 380,
        "wires": []
    },
    {
        "id": "e5491d8e52685601",
        "type": "http response",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "413e59e0323254f7",
        "type": "websocket out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "server": "6c5785c867ee8031",
        "client": "",
        "x": 650,
        "y": 460,
        "wires": []
    },
    {
        "id": "6c5785c867ee8031",
        "type": "websocket-listener",
        "path": "/ws/car",
        "wholemsg": "false"
    }
]